@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">Payment Calculator</NavLink>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Loan Calculator
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="investment">
                        Investment Calculator
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    @Body
</main>

<footer class="text-center">
    <a href="https://github.com/void-type/PaymentCalculator">
        Payment Calculator @version is open source!</a>
    <br />
    This app is built with
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor WebAssembly</a> and
    <a href="https://github.com/void-type/VoidCore">VoidCore</a>.
</footer>

@code {

    private readonly string version = ThisAssembly.AssemblyInformationalVersion.Split('+').FirstOrDefault() ?? "";
}
