@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="https://avatars1.githubusercontent.com/u/3291875?s=88&v=4" width="30" height="30"
             class="d-inline-block align-top mr-1" alt="">void-type</a>
</nav>

<main>
    @Body
</main>

<footer class="text-center">
    <a href="https://github.com/void-type/PaymentCalculator">
        Payment Calculator @version is open source!</a>
    <br />
    This app is built with
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor WebAssembly</a> and
    <a href="https://github.com/void-type/VoidCore">VoidCore</a>.
</footer>

@code{

    private string version = ThisAssembly.AssemblyInformationalVersion.Split('+').FirstOrDefault() ?? "";
}
